<div>
  <% if shed.errors.any? %>
    <p>Verifique os erros abaixo:</p>
    <ul>
      <% shed.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_with model: shed do |form| %>
  <div>
    <%= form.text_field :name, placeholder: 'Nome:' %><br>
  </div>
  <div>
    <%= form.text_area :description, placeholder: 'Descrição:' %><br>
  </div>
  <div>
    <%= form.text_field :code, placeholder: 'Código:' %><br>
  </div>
  <div>
    <%= form.text_field :address, placeholder: 'Endereço:' %><br>
  </div>
  <div>
    <%= form.text_field :city, placeholder: 'Cidade:' %><br>
  </div>
  <div>
    <%= form.text_field :postcode, placeholder: 'Código postal:' %><br>
  </div>
  <div>
    <%= form.number_field :area, placeholder: 'Área:' %><br>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
