<section id='sheds'>
  <h2>Galpões</h2>
  <% @warehouses.each do |shed| %>
  <div>
    <h3><%= link_to shed.name, shed_path(shed.id) %></h3>
    <dl>
      <dt>code: </dt>
      <dd><%= shed.code %></dd>
      <dt>city: </dt>
      <dd><%= shed.city %></dd>
      <dt>Area: </dt>
      <dd><%= shed.area %> m2</dd>
    </dl>
    </div>
  <% end %>
  <div>
    <%= link_to 'register shed', new_shed_path %>
  </div>
</section>
