<h1>Galpão <%= @shed.code %></h1>
<h2><%= "Descrição: #{@shed.description}" %></h2>
<details>
  <dl>
    <dt><strong>Nome: </strong></dt>
    <dd><%= @shed.name %></dd>
    <dt><strong>Cidade: </strong></dt>
    <dd><%= @shed.city %></dd>
    <dt><strong>Área: </strong></dt>
    <dd><%= @shed.area %> m2</dd>
    <dt><strong>Endereço: </strong></dt>
    <dd><%= @shed.address %></dd>
    <dt><strong>Código postal: </strong></dt>
    <dd><%= @shed.postcode %></dd>
  </dl>
</details><br>
<div>
  <button type="button">
    <%= link_to 'Editar', edit_shed_path(@shed.id) %>
    <%= button_to 'Deletar Galpão', shed_path(@shed.id), method: :delete %>
  </button>
</div>
