<h1>Galpão <%= @shed.code %></h1>
<h2><%= "Descrição: #{@shed.description}" %></h2>
<details>
  <dl>
    <dt><strong>Nome: </strong></dt>
    <dd><%= @shed.name %></dd>
    <dt><strong>Cidade: </strong></dt>
    <dd><%= @shed.city %></dd>
    <dt><strong>Área: </strong></dt>
    <dd><%= @shed.area %> m2</dd>
    <dt><strong>Endereço: </strong></dt>
    <dd><%= @shed.address %></dd>
    <dt><strong>Código postal: </strong></dt>
    <dd><%= @shed.postcode %></dd>
  </dl>
</details><br>

<%= link_to 'Home', root_path %>
